.info_popup__container {
  color: black;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 358px;
}
.info_popup__title {
  font-size: 24px;
  margin: 0;
  padding: 30px;
  display: flex;
  width: 358px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
}

.info_popup__close-button {
  margin-left: 435px;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}
.info_popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.info_popup__icon {
  color: black;
  /* display: flex;
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center; */
}

.info_popup__icon_success {
  font: optional;
}

.info_popup__icon_fail {
  font-size: 24px;
}
